body {
  font-family: sans-serif;
  margin: 15px;
}
#battleship-title {
  text-align: center;
}
#container, .options {
  width: 502px;
  margin: auto auto;
  text-align: center;
}
.player {
  display: inline-block;
}
.player-name {
  text-align: center;
}
.announcement {
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  margin: 20px;
}
.announcement.gameover {
  background-color: green;
  color: white;
}
.board {
  display: inline-block;
  border-left: 1px solid #8dc6d3;
  border-top: 1px solid #8dc6d3;
  margin: 20px;
  line-height: 0;
}
.board.disabled {
  opacity: 0.5;
}
.cell {
  border-right: 1px solid #8dc6d3;
  border-bottom: 1px solid #8dc6d3;
  background-color: rgba(141, 198, 211, 0.5);
  width: 20px;
  height: 20px;
  display: inline-block;
}
.cell.ship {
  background-color: rgba(141, 198, 211, 0.5);
}
.cell.show-ship.ship-0 {
  background-color: #555;
}
.cell.show-ship.ship-1 {
  background-color: #777;
}
.cell.show-ship.ship-2 {
  background-color: #999;
}
.cell.show-ship.ship-3 {
  background-color: #bbb;
}
.cell.show-ship.ship-4 {
  background-color: #ddd;
}
.cell.ship.sunk {
  background-color: red;
}
.cell.missed {
  background-color: white;
}
.board:not(.disabled) .cell:not(.missed):not(.sunk):hover {
  background-color: orange;
  cursor: pointer;
}
